	




<div class="container spacer">
	<div class="panel panel-primary">
		<div class="panel-heading"> Profil Admin </div>
		<div class="panel-body">
			  
			

		<button routerLink="/clients" class="btn btn-primary"> Lister les clients </button>
		<button routerLink="/reservations" class="btn btn-primary">Réservations  </button>
        <button routerLink="/new-hebergement" class="btn btn-primary">New Hebergement  </button>

         <button routerLink="/clients_inactif" class="btn btn-primary"> activer client </button>

		</div>

	</div>



</div>