<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading"> Nouveau Réservation</div>
      <div class="panel-body">




          <div class="form-group">
            <label for="staticID" class="control-label"> nawal :</label>
            <input type="text"  id="username"  name="username" [(ngModel)]="username" class="form-control" required />
          </div>


          <div class="form-group">
            <label for="staticID" class="control-label"> Password :</label>
             <input type="text" required="required" class="form-control" [(ngModel)]="password" />
          </div>

          <div class="form-group">
            <label for="staticID" class="ccontrol-label"> Nom :</label>
            <input type="email" required="required" class="form-control" id="staticEmail" [(ngModel)]="nomClient" />
          </div>
          <div class="form-group">
            <label for="staticID"   class="ccontrol-label"> Adresse :</label>
            <input type="text" required  class="form-control" [(ngModel)]="adresse" />
          </div>

          <div class="form-group">
            <label for="staticID"   class="ccontrol-label"> email :</label>
            <input type="text" required="required" class="form-control" [(ngModel)]="email" />
          </div>
                   
           <div  class="form-group">
            <label for="staticID"  class="ccontrol-label"> Tel :</label>
            <input type="text" required data-fv-numeric="true" data-fv-numeric-message="Please enter valid phone numbers" class="form-control"  [(ngModel)]="tel" />
          </div>
                



      <button class="btn btn-success" (click)="ajouterUser()" >Register</button>  <button class="btn btn-success" (click)="login()" >login</button>

    </div>

  </div>

</div>