
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  
					<input type="text" name="user" placeholder="Username" [(ngModel)]="username">
					<input type="password" name="pass" placeholder="Password" [(ngModel)]="password">
					<input  name="hhdhds" placeholder="Password" [(ngModel)]="user.password">

					<button  (click)="loginUser()"  class="btn btn-primary">se connecter</button>
				  
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
		