



<div class="container spacer">
	<div class="panel panel-primary">
		<div class="panel-heading"> Profil Client  </div>
		<div class="panel-body">
			  
			

		<button routerLink="#" class="btn btn-primary"> Mes  Réservations  </button>


		</div>

	</div>



</div>



<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="portfolios">
				<div class="text-center">
					   <h2>Mon Compte</h2>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>
<div style="margin-top: 35px;">
	
			<table class="table" align="center">

				<thead>

					<tr>

						<th>Nom</th>
						<th>adresse</th>
						<th>Mail </th>
						<th>Tel</th>
						
					</tr>

				</thead>


					<tr>

					    <td class="info"> {{user.nomClient}}</td>
						<td class="info">{{user.adresse}}</td>
						<td class="info">{{user.email}}</td>
						<td class="info">{{user.tel}</td>

						
					
					</tr>
			</table>
		             <button (click)="download()" class="btn btn-success">Download PDF</button>

</div>