
<div   class="container spacer">
    
  
    <div *ngIf="logged" > 


           <input type="text" name="user" placeholder="Username" [(ngModel)] ="logged" >



           <div *ngIf="isAdmin" >
            <button routerLink="/profil_admin" class="btn btn-primary">Mon compte  </button>
            <button (click)="logout()" class="btn btn-danger">Déconnexion</button>
           </div>


           <div *ngIf="!isAdmin" >
            <button routerLink="/profil" class="btn btn-primary">Mon compte  </button>

            <button (click)="logout()" class="btn btn-danger">Déconnexion</button>
            </div>



    </div> 



        
</div> 


<router-outlet>



</router-outlet>