



<div   class="container spacer">
    
  
    <div *ngIf="logged" > 



           <div *ngIf="isAdmin==1" >
            <button routerLink="/profil_admin" class="btn btn-primary">Mon compte  </button>
            <button (click)="logout()" class="btn btn-danger">Déconnexion</button>
           </div>


           <div *ngIf="isAdmin==0" >
            <button routerLink="/profil" class="btn btn-primary">Mon compte  </button>

            <button (click)="logout()" class="btn btn-danger">Déconnexion</button>
            </div>



    </div> 



        
</div> 



<router-outlet>



</router-outlet>