
<div class="container spacer">

  
          <div *ngIf="logged"> 


           <input type="text" name="user" placeholder="Username" [(ngModel)] ="logged" >


            <button routerLink="/clients" class="btn btn-primary"> Clients</button>


            <button routerLink="/new-client" class="btn btn-primary">Nouveau Client</button>
            <button routerLink="/restaurations" class="btn btn-primary">Restauration</button>

            <button routerLink="/reservations" class="btn btn-primary">Réservations  </button>
            <button routerLink="/hebergements" class="btn btn-primary">Hebergements  </button>
            <button routerLink="/new-hebergement" class="btn btn-primary">New Hebergement  </button>
            <button routerLink="/new-restauration" class="btn btn-primary">New Restauration </button>
            <button routerLink="/list-reservation-client" class="btn btn-primary">List reservation client </button>
              
            <button (click)="logout()" class="btn btn-danger">Déconnexion</button>


          </div>
</div> 

<router-outlet>



</router-outlet>